
body {
  display: flex;
  justify-content: center;
  background-color: #F3E5E2;
	background-image: radial-gradient(#fff 1%, transparent 1%),
	radial-gradient(#fff 1%, transparent 1%);
}



.overallcanvas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 70%;

  border: 2px solid black;

  font-family: helvetica, sans-serif;
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 12%;
}


button {
  background-color: #3CB371;
  border: none;
  outline: none;
  font-size: 18px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

h3 {
  align-self: center;
}

.controls-and-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.links {
  display: flex;
  justify-content: space-around;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-self: center;
}

a {
  color: black;
}

a:hover {
  color: #3CB371;
}



#algorithims {
  border-top: 2px solid black;
  width: 100%;
  margin-top: 5%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

.algo-options {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin-left: 25%;*/
  align-self: center;

}

.buttons {
  margin-top: 10%;
  /*margin-left: 15%;*/
  align-self: center;
  margin-bottom: 5%;
}
